<!DOCTYPE html>
<html ng-app="demo">
<head lang="en">
    <meta charset="UTF-8">
    <title>Example</title>
    <script src="../angular.js"></script>
    <link href="../bootstrap.css" rel="stylesheet"/>
    <link href="../bootstrap-theme.css" rel="stylesheet"/>
    <script type="text/javascript">
        var myApp = angular.module("demo", []);
        myApp.controller("demoCtrl", function ($scope, $http) {
            var promise = $http.get("todo.json");
            promise.success(function (data) {
                $scope.todos = data;
            });
        });
    </script>
</head>
<body ng-controller="demoCtrl">
<div class="panel">
    <h1>To Do</h1>
    <table class="table table-striped">
        <tr>
        <td>Action</td>
            <td>Done</td>
        </tr>
        <tr ng-repeat="item in todos">
            <td>{{item.action}}</td>
            <td>{{item.done}}</td>
        </tr>
    </table>
</div>
<div class="well">
    <label for="showjson">Show JSON:</label> <input id="showjson" type="checkbox" ng-model="checked"><br/>

    <div ng-show="checked">
        <pre>{{todos | json}}</pre>
    </div>
</div>
</body>
</html>